ipython~=8.31.0
ipywidgets~=8.1.5
langchain-anthropic~=0.3.1
langchain-chroma
langchain-core~=0.3.28
langchain-google-genai~=2.0.7
langchain-google_genai
langchain-huggingface
langchain-ollama
langchain-openai~=0.2.14
langchain~=0.3.13
langgraph~=0.2.60
matplotlib~=3.10.0
nest-asyncio~=1.6.0
numpy~=1.26.4
ollama~=0.4.5
openai~=1.58.1
pandas~=2.2.3
pillow~=11.1.0
psutil~=6.1.1
python-dotenv~=1.0.1
requests~=2.32.3
scikit-learn~=1.6.0
seaborn~=0.13.2
sentence-transformers~=3.3.1
tabulate~=0.9.0
tiktoken~=0.8.0
torch~=2.5.1
tqdm~=4.67.1
transformers~=4.47.1
